### Project Specific
# Files
/env.php
npm-debug.log
yarn-error.log

# Directories
/node_modules
/vendor

### Editor Specific
# Files
/*.sublime-project
/*.sublime-workspace

# Directories
/.fleet
/.idea
/.nova
/.vscode
/.zed

### System Specific
# Files
.DS_Store
Thumbs.db

# Directories
__MACOSX
